<!DOCTYPE html>
<html lang="en" class="html-error">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body class="body-error">
<div id="error" class="error-not-found">
    <div id="box"></div>
    <h3>Ошибка</h3>
    <p>Местоположение или тип мероприятия <span class="not-found">не найдены</span>.</p>
    <p class="error-message">Пожалуйста, попробуйте еще раз.</p>
</div>

</body>
</html>
