<!DOCTYPE html>
<html lang="en" class="html-error">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<p class="error-message"></p>
</body>
<body class="body-error">
<div id="error" class="error-banned">
    <div id="box"></div>
    <h3>Ошибка</h3>
    <p>Вы <span class="ban">забанены</span> и не можете создавать события.</p>
    <p class="error-message">Умаслите админа</p>
</div>

</body>
</html>
