<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>Event Manager</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

<body class="log login-form ">

<div class="ring">
    <i style="--clr:#226F54;"></i>
    <i style="--clr:#DA2C38;"></i>
    <i style="--clr:#F4F0BB;"></i>
    <div class="login ">
        <form action="/login" method="post">
            <h2>Авторизация</h2>
            <div class="inputBx rel w-calc">
                <input type="text" id="username" name="username" placeholder="Эл.почта">
            </div>
            <div class="inputBx rel w-calc">
                <input type="password" id="password" name="password" placeholder="Пароль">
            </div>
            <div class="inputBx rel w-calc">
                <input type="submit" value="Войти">
            </div>
        <div class="links rel">
            <a class="sign-up-btn" href="/registration">Зарегистрироваться</a>
        </div>
        </form>
    </div>
</div>


</body>

</html>
