<div th:fragment="header">
    <h5 class="my-0 mr-md-auto font-weight-normal">Event manager</h5>
    <div class="d-flex flex-column flex-md-row align-items-right justify-content-end pb-3 mb-4 border-bottom container">
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Home</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Events</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Account</a>
        </nav>
    </div>
</div>