<div th:fragment="header" class="mt-4">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom container">
        <h5 class="my-0 font-weight-normal">Event manager</h5>
        <nav class="my-2 my-md-0">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Все события</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/event-add">Создать событие</a>
        </nav>
    </div>
</div>
