<div th:fragment="header" class="mt-4">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom container">
        <h5 class="my-0 font-weight-normal">Event manager</h5>
        <nav class="my-2 my-md-0">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Все события</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/events/add">Создать событие</a>

            <div th:if="${current_user.getEmail()}">
                <h3>Имя пользователя: <i th:text="${current_user.getName()}"></i></h3>
                <form action="/logout" method="post">
                    <input type="submit" value="Выйти"/>
                </form>
            </div>
            <div th:unless="${current_user.getEmail()}">
                <a href="/login">Войти</a>
            </div>
        </nav>
    </div>
</div>